{% extends "base.html" %}

{% block title %}Enregistrement{% endblock %}

{% block content %}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.js"></script>
    <script src="/static/js/register.js"></script>
    <h2>Enregistrement</h2>
    <div ng-app="registerApp">
        <div ng-controller="registerController">
            <form ng-submit="submitRegister()" method="post">
                <label for="username">Nom d'utilisateur</label>
                <input type="text" id="username" ng-model="userData.username" required>

                <label for="age">Age</label>
                <input type="number" id="age" ng-model="userData.age" required>

                <label for="initialWeight">Poids Initial</label>
                <input type="number" id="initialWeight" ng-model="userData.initialWeight" required>

                <label for="email">Email</label>
                <input type="email" id="email" ng-model="userData.email" required>

                <label for="password">Mot de passe</label>
                <input type="password" id="password" ng-model="userData.password" required>

                <label for="confirmPassword">Confirmer le mot de passe</label>
                <input type="password" id="confirmPassword" ng-model="userData.confirmPassword" required>

                <button type="submit">S'enregistrer</button>
            </form>

            <p ng-if="registerError" style="color: red;">Erreur de connexion : {{ "{{ errorMessage }}" }}</p>
            <p ng-if="registerSuccess" style="color: rgb(5, 129, 67);;">Inscription reussie, vous pouvez maintenant vous connecter !</p>
            <button onclick="window.location.href='/login'">Se connecter</button>
        </div>
    </div>
{% endblock %}