{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <h2>Tableau de bord</h2>
    
    <h3>Repas de {{ username.capitalize() }}</h3>
    <ul>
        {% for meal in meals %}
            <li>{{meal.id}} : {{ meal.type }} - {{ meal.time }} ({{ meal.date }})</li>
        {% endfor %}
    </ul>

    <h3>Ajouter un nouveau repas</h3>
    <form method="post" action="/dashboard/">

        <label for="username">Utilisateur</label>
        <input id="text" name="username" required></input>

        <label for="date">Date</label>
        <input type="date" id="date" name="date" required></input>

        <label for="time">Heure</label>
        <input type="time" id="time" name="time" required></input>

        <label for="type">Type de repas</label>
        <input type="text" id="type" name="type" required>

        <button type="submit">Ajouter</button>
    </form>

    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}

{% endblock %}